<div style="text-align: center; ">
<div>
  <nav class="navbar navbar-expand navbar-dark" style="background-color: gold; text-align: center; ">
    <div class="navbar-nav mr-auto" style="margin-left: 42%;">
      <li class="nav-item" style="text-align: center; display: inline">
        <a style="border: solid black ;background-color: orange; text-align: center; color: green; font-weight:bold" routerLink="add" class="nav-link">Dodaj Poradnik</a>
      </li>
      <li class="nav-item">
        <a style="border: solid black; background-color: orange; text-align: center; color: blue; font-weight:bold" routerLink="tutorials" class="nav-link">Poradniki</a>
      </li>
    </div>
  </nav>


  <div style="margin-left: 21%; padding-top: 10%;" class="container mt-3" >
    <router-outlet></router-outlet>
 </div>
</div>
</div>
